body {
    margin : 0;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}
header {
    display: flex;
    justify-content: space-between;
    height : 75px;
    background-color: rgb(10, 106, 191);
    box-shadow: 5px;
    width:auto;
}
h1 {
    color : white;
    margin-left : 140px;
}
nav {
    display:flex;
    align-items:center;
    margin-right:100px;
}
a {
    margin-right: 60px;
    color:white;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
}
a:hover{
    color:aqua;
}
img {
    margin:0;
}
h2{
    font-size: 70px;
    color:#00156d;
    
}
section{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ves {
    background-image: url(gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:1200px;
}
.bobro{
    background-image: url(Daņilka.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:1200px;
}
.hys{
    background-image: url(johanna-steppan-67QUR7MCq0M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:1200px;
}
button{
    background: none;
    text-transform: uppercase;
    border: 2px solid #000;
    padding: 12px 20px;
    min-width: 200px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: rgb(189, 221, 245);
    border: 2px solid #000;
    color: #000;
}

.raksti{
    width:1000px;
    height:120%;
    background-color: aliceblue;
    box-shadow: 10px #000;
}
.rakstvest{
    display:flex;
    justify-content: center;
    background-color: rgb(222, 235, 246);
}
h3{
    font-size: 50px;
}
.virs{
    text-align: center;
}
p{
    margin-left:100px;
    margin-right:100px;
    font-size: 30px;
}
h4{
    font-size:35px;
    margin-left:260px;
}

.abus{
    width:1000px;
    height:1000px;
    background-color: aliceblue;
    box-shadow: 10px #000;
}
.t1{
    margin-left:200px;
    margin-right:200px;
}
.t2{
    margin-left:200px;
    margin-right:200px;
}
.t3{
    margin-left:200px;
    margin-right:200px;
}

h5{
    font-size:30px;
}

@media (max-width:500px) {
    header{
        width:100%;
        height:50px;
    }
    h1{
        margin-left:20px;
        font-size:20px;
    }
    nav{
        margin-right:20px;
    }
    a {
        margin-right:10px;
        font-size:15px;
    }
    h2{
        font-size:28px;
    }
    button{
        padding: 6px 10px;
        min-width: 100px;
    }
    .raksti{
        width:100%;
        height:120%;
        background-color: rgb(195, 219, 239);
    }
    h3{
        font-size:30px;
        margin-left:5px;
        margin-right: 5px;
    }
    p{
        margin-left:15px;
        margin-right:15px;
        font-size: 20px;
    }
    h4{
        font-size:25px;
        margin-left:30px;
    }
    .ves {
        background-size: 100% 30%;
    }
    .bobro{
        background-size: 100% 30%;
        background-repeat: no-repeat;
    }
    .hys{
        background-size: 100% 30%;
    }
}
@media (max-width:380px){
    button{
        padding: 6px 10px;
        min-width: 100px;
    }
}
@media(max-width:1700px){
    .ves{
        height:1000px;
    }
    .bobro{
        height:1000px;
    }
    .hys{
        height:1000px;
    }
}
@media(max-width:1500px){
    .ves{
        height:900px;
    }
    .bobro{
        height:900px;
    }
    .hys{
        height:900px;
    }
}
@media(max-width:1300px){
    .ves{
        height:800px;
    }
    .bobro{
        height:800px;
    }
    .hys{
        height:800px;
    }
}
@media(max-width:1100px){
    .ves{
        height:700px;
    }
    .bobro{
        height:700px;
    }
    .hys{
        height:700px;
    }
}
@media(max-width:900px){
    .ves{
        height:600px;
    }
    .bobro{
        height:600px;
    }
    .hys{
        height:600px;
    }
    h2{
        font-size: 50px;
    }
    nav{
        margin-right:20px;
    }
    h1{
        margin-left:50px;
    }
    a{
        margin-right:30px;
    }
}
@media(max-width:700px){
    .ves{
        height:450px;
    }
    .bobro{
        height:450px;
    }
    .hys{
        height:450px;
    }
    h4{
        margin-left:120px;
    }
    .t1{
        margin-left:100px;
        margin-right:100px;
    }
    .t2{
        margin-left:100px;
        margin-right:100px;
    }
    .t3{
        margin-left:100px;
        margin-right:100px;
    }
}

